{% load static%}
<footer class="footer position-relative py-xxl-8 py-6">
    <div class="container">
        <div class="footer-wrap d-grid gap-4 justify-content-center d-lg-flex align-items-center justify-content-lg-between">
            <div class="footer-copyright">
                <span class="fw_400 n0-color">
                    Copyright &copy; 2024 <a href="{% url 'index' %}" class="bento-tag">BentoX</a>
                </span>
                <span class="fw_400 n0-color designed-by">
                    Designed By <a href="https://themeforest.net/user/pixelaxis" class="s1-color">Pixelaxis</a>
                </span>
            </div>
            <ul class="footer-link justify-content-center flex-wrap position-relative cus-z1">
                <li>
                    <a href="{% url 'index' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'about' %}">
                        About
                    </a>
                </li>
                <li>
                    <a href="{% url 'project' %}">
                        Works
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>