{%load static%}
<header class="header-section mb-xxl-15 mb-xl-8 mb-7 mt-xxl-15 mt-xl-8 mt-7 header-sectionone">
    <div class="one__header ">
        <div class="container">
            <div class="main-navbar" data-aos="fade-up" data-aos-duration="1000">
                <nav class="navbar-custom">
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="index.html" class="nav-brand d-block d-lg-none">
                            <h4 class="fw_500 n0-color golelayla-logo">
                                Bento<span class="s1-color">X</span>
                            </h4>
                        </a>
                        <div class="d-flex gap-6">
                            <div class="switch-wrapper-top d-flex d-lg-none"></div>
                            <button class="navbar-toggle-btn d-block d-lg-none" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="navbar-toggle-item">
                        <div class="d-flex gap-5 flex-column flex-lg-row text-lg-start text-center align-items-start align-items-lg-center justify-content-center justify-content-between mt-5 mt-lg-0">
                            <div class="navbar-brand logo d-none d-lg-flex">
                                <a href="index.html">
                                    <h4 class="fw_600 n0-color">
                                        Bento<span class="s1-color">X</span>
                                    </h4>
                                </a>
                            </div>
                            <ul class="custom-nav d-grid d-lg-flex gap-5 gap-lg-8 gap-xl-10 justify-content-lg-start">
                                <li class="menu-item position-relative">
                                    <a href="{% url 'index' %}">
                                        Home 
                                    </a>
                                </li>
                                <li class="menu-item position-relative">
                                    <a href="{% url 'about' %}">
                                        About
                                    </a>
                                </li>
                                <li class="menu-item position-relative">
                                    <a href="project.html">
                                        Works
                                    </a>
                                </li>
                                <li class="menu-item position-relative">
                                    <a href="contact.html">
                                        Contact
                                    </a>
                                </li>
                                <li class="menu-item position-relative d-lg-none">
                                    <a href="error.html">
                                        404 
                                    </a>
                                </li>
                            </ul>
                            <div class="d-flex justify-content-center  m-auto m-lg-0 justify-content-lg-end">
                                <a href="contact.html" class="kewta-btn d-flex align-items-center">
                                    <span class="kew-text">
                                        Let’s Talk
                                    </span>
                                    <span class="kew-arrow">
                                        <div class="kt-one">
                                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5625 10.9336L23.1446 11.1277L22.9504 19.7098" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M10.8516 22.875L23.0183 11.2466" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>                                    
                                        </div>
                                        <div class="kt-two">
                                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5625 10.9336L23.1446 11.1277L22.9504 19.7098" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M10.8516 22.875L23.0183 11.2466" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>                                    
                                        </div>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>